.button {
    background: #5B78F6;
    padding: 8px 16px;
    color: #fff;
    border: 2px solid #211808;
    box-shadow: 2px 2px #211808;
    border-radius: 8px;
    transition: .3s;
    font-size: 16px;
    font-weight: 500;
}

.button:hover {
    background-color: #5B78F6;
    color: #8fe69c;
}