.navbar {
    border-bottom: 1px solid #211808;
}

.nav-logo {
    max-width: 80px;
}

.nav-items-list {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}

@media screen and (max-width:991px) {
    .nav-items-list {
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
    }

    .nav-items-list a:last-child {
        margin-bottom: 12px;
    }
}