
.project-card-container {
    background-color: #fff;
    border-radius: 30px;
    padding: 16px 16px 26px 16px;
}

.project-card-img-wrapper img {
    border-radius: 14px;
}

.project-card-info-wrapper {
    display: flex;
    justify-content: space-between;
}