
.contact-page-icon {
    font-size: 26px;
    vertical-align: middle;
}

.contact-page-icon-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
}

.contact-page-conntainer .col-md-7 > div {
    padding: 30px;
    border-radius: 22px;
}

.contact-page-input {
    display: block;
    background-color: #fbfbfc;
    border: none;
    outline: none;
    padding: 16px 20px;
    width: 100%;
    border-radius: 12px;
}