
.project-main-image {
    height: 400px;
    object-fit: contain;
    border-radius: 30px;
    width: 100%;
}

.project-widget-wrapper {
    background-color: #fbfbfc;
    padding: 22px;
    border-radius: 22px;
}

.project-widget-wrapper h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.project-about-container .row {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}